<h1> Tu sesión fue cerrada con exito</h1>
<div>
    <p>Esperamos verte nuevamente pronto!</p>
</div>

<script>
    setTimeout(() => {
        window.location.replace('/account/login');
    }, 4000);
</script>