<%- include('partials/header') %>

<section class="section-sign">
    <div class="container">
        <div class="singup-form-container ">
           <h2 class="title">Registrate</h2>

           <div>
                <form id="singupForm" class="form-singup">
                    <input id="name" name="name" class="complete" placeholder="Nombre"></input>
                    <input id="lastname" name="lastname" class="complete" placeholder="Apellido"></input>
                    <input id="username" name="username" class="complete" placeholder="Usuario"></input>            
                    <input id="email" name="email" class="complete" placeholder="Email"></input>
                    <input type="password" id="password" name="password" class="complete" placeholder="Contraseña" minlength="5" maxlength="15"></input>
                    <input type="password" id="repeatPass" name="password" class="complete" placeholder="Repetir contraseña" minlength="5" maxlength="15"></input>
                    <input type="submit" class="button-ok" value="Registrarme">
                    <button class="redirect" onclick="login()">Ya tengo cuenta</button>
                </form>
            </div>

        </div>

    </div>

    <div class="modal" id="modal">
        <p>Registro completo! Te redireccionaremos para que inicies sesion.</p>
    </div>

</section>
<script>
    const form = document.getElementById('singupForm');
    const modal = document.getElementById('modal');

    form.addEventListener('submit',evt=>{
        evt.preventDefault();
        let password = document.getElementById('password');
        let rePassword = document.getElementById('repeatPass');
        if (password.value === rePassword.value){
            password.classList.remove('different');
            rePassword.classList.remove('different');
            let data = new FormData(form);
            let obj = {};
            data.forEach((value,key)=>obj[key]=value);
            fetch('/account/singup',{
                method:'POST',
                body:JSON.stringify(obj),
                headers:{
                    "Content-Type":"application/json"
                }
            }).then(result=>result.json()).then(json=>{
                console.log(json)
                modal.classList.add('visible');
                setTimeout(() => {
                    window.location.replace('/account/login');
                }, 4000);
            });
        }else{
            password.classList.add('different');
            rePassword.classList.add('different');
        }
    })

    function login() {
        window.location.replace('/account/login');
    }
</script>